<header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link {{#if NavActiveCad}} active{{/if}}" aria-current="page">Cadastrar Usuario</a></li>
        <li class="nav-item"><a href="/produtos" class="nav-link {{#if NavActiveProd}} active{{/if}}" aria-current="page">Cadastrar Produto</a></li>
        <li class="nav-item"><a href="/embalagem" class="nav-link {{#if NavActiveEmb}} active{{/if}}">Cadastrar embalagem</a></li>
        <li class="nav-item"><a href="/produtosListar" class="nav-link {{#if NavActiveProduto}} active{{/if}}">Listar Produtos</a></li>
        <li class="nav-item"><a href="/users" class="nav-link {{#if NavActiveUsers}} active{{/if}}">Listar Usuarios</a></li>
        <li class="nav-item"><a href="/embalagemListar" class="nav-link {{#if NavActiveEmbList}} active{{/if}}" aria-current="page">listar embalagems</a></li>
        <li class="nav-item"><a href="/" class="nav-link {{#if NavActiveUsers}} active{{/if}}">Listar</a></li>
      </ul>
    </header>